* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  body{
    cursor: url('http://www.rw-designer.com/cursor-view/169999.png'), auto;
    user-select: none;
    background: linear-gradient(to right, #1e1e1e, #2c3e50);
    font-family: 'Poppins', sans-serif;
    animation: blur 0.5s ease;
  }
  @keyframes blur{
    from{ filter: blur(15px);}
    to{ filter: blur(0);}
  }
  #back-button{
    cursor: url('http://www.rw-designer.com/cursor-view/169999.png'), auto;
    background-color: transparent;
    backdrop-filter: blur(25px);
    border: 2px solid rgb(185, 184, 184);
    border-radius: 10px;
    width: 95px;
    height: 40px;
    color: white;
    margin-left: 0.5%;
    margin-top: 0.6%;
    transition: all 0.3s ease;
  }
  #back-button:hover{
    border: 2px solid white;
  }
  #back-text{
    text-shadow: 0px 10px 20px black;
    color: rgb(185, 184, 184);
    font-weight: 500;
  }
  #content{
    margin-top: 15px;
    border: none;
    animation: startbro 0.8s;
  }
  @keyframes startbro{
    from{
        margin-top: -200px;
        opacity: 0;
        transform: rotateX(-180deg);
    }
    to{
        margin-top: 15px;
        opacity: 1;
        transform: rotateX(0);
    }
  }
  #main{
    text-shadow: 0px 10px 20px black;
    text-align: center;
    margin-top: 50px;
    font-weight: 800;
    color: #fff;
    animation: bla-bla 2.5s ease;
  }
  @keyframes bla-bla{
    from{ opacity: 0;}
    to{ opacity: 100;}
  }
  #line{
    border-color: rgba(185, 184, 184, 0.438);
    margin-left: 85px;
    margin-right: 85px;
    animation: line 1.5s ease-in-out;
  }
@keyframes line{
  from{
    margin-left: 500px;
    margin-right: 500px;
  }
  to{
    margin-left: 85px;
    margin-right: 85px;
  }
}
#heading{
  text-shadow: 0px 10px 20px black;
    font-weight: 500;
    color: #fff;
  text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
#para{
  text-align: center;
  text-shadow: 0px 10px 20px black;
    font-weight: 800;
    color: rgb(185, 184, 184);
    font-size: large;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
#ul{
  text-shadow: 0px 10px 20px black;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(185, 184, 184);
    margin-top: 15px;
}
#profile{
  display: block;
  margin-left: 38.1%;
  margin-top: -105px;
  margin-bottom: 25px;
  border-radius: 100px;
  width: 79px; 
  height: 79px;
  animation: size 1s ease;
}
@keyframes size{
  from{
  height: 150px;
  width: 150px;
  }
  to{
    height: 79px;
    width: 79px;

  }
}
#botn{
  margin-top: 10px;
  border: none;
  user-select: none;
  background-color: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#M{
  cursor: url('http://www.rw-designer.com/cursor-view/106397.png'), auto;
  user-select: none;
  color: rgb(185, 184, 184);
  font-weight: 600;
  font-size: large;
  display: block;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.836);
  transition: all 0.3s ease-in-out;
}
#M:hover{
  color: #cfcfcf;
}
@media (max-width: 425px) {
  #back-button{
    margin-top: 5px;
    margin-left: 3px;
    height: 35px;
    width: 75px;
  }
  #back-text{
    font-size: small;
  }
  #main{
    font-size: larger;
  }
  #heading{
    font-weight: 500;
    font-size: larger;
  }
  #para{
    font-size: medium;
  }
  #ul{
    font-size: medium;
  }
  #M{
    font-size: small;
  }
  #line{
    margin-top: -15px;
    margin-left: 10%;
    margin-right: 10%;
    animation: line 1.5s ease-in-out;
  }
@keyframes line{
  from{
    margin-left: 50%;
    margin-right: 50%;
  }
  to{
    margin-left: 10%;
    margin-right: 10%;
  }
}
}