* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 20px;
}
body{
  color: #fff;
  background: linear-gradient(to right, #1e1e1e, #2c3e50);
  font-family: 'Poppins', sans-serif;
  animation: blur 0.8s ease;
}
@keyframes blur{
  from{ filter: blur(15px);}
  to{ filter: blur(0);}
}
#content{
  animation: startin 1.5s;
}
@keyframes startin{
  from{
    margin-top: 10%;
    opacity: 0;
  }
  to{
    margin-top: 0;
    opacity: 1;
  }
}
#container{
  backdrop-filter: blur(20px);
  background: linear-gradient(to bottom, #000000, #2C3E50);
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  padding-top: 80px;
}
#back-button{
  display: inline;
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 1%;
  margin-top: 20px;
}
#back-text{
  color: white;
  font-weight: 500;
}
#cntr{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  overflow: hidden;
  border-right: 2px solid;
  width: 0%;
  font-weight: 700;
 margin-top: 20px;
 font-size: 2.2em;
 user-select: none;
 color: #fff;
 animation: typing 1s steps(16, end) forwards, blinking 1s infinite;
}
@keyframes typing {
  from{ width: 0;}
  to{ width: 205px;}
}
@keyframes blinking {
  0% { border-right-color: transparent;}
  50% { border-right-color: #fff;}
  100% { border-right-color: transparent;}
}
@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'CustomFont3';
  src: url('ProtestGuerrilla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CustomFont4';
  src: url('BebasNeue-Regular.ttf') format('truetype');
}
.block{
    display: flex;
  justify-content: center;
  align-items: center;
}
#block{
  background-image: url('https://th.bing.com/th/id/R.0fc2ee9ec7fa2fbe6fb766773bf74f99?rik=p6cwVp54ZA31ew&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fCuvMvZn.jpg&ehk=19J4XuWD2gJVFRAnTkKtTt8%2fTWfZlS%2bJmUPuvwjCmew%3d&risl=&pid=ImgRaw&r=0');
  cursor: pointer;
  background-size: cover;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  color: rgb(212, 212, 212);
  height: 130px;
  width: 35%;
  border-radius: 60px;
  margin-bottom: 100px;
  border: 0px solid transparent;
  font-size: large;
  font-weight: 500;
  text-shadow:  0px 10px 10px black;
  transition: text-shadow 0.5s ease, font-size 0.5s ease;
}
#block:hover{
  text-shadow: 0px 15px 15px black;
  font-size: larger;
}
.block1{
    display: flex;
  justify-content: center;
  align-items: center;
}
#block1{
  background-image: url('https://www.zilliondesigns.com/blog/wp-content/uploads/instagram_gradient_wallpaper_by_jasonzigrino-da28exh.png');
  background-size: cover;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 130px;
  width: 35%;
  border-radius: 60px;
  margin-bottom: 100px;
  letter-spacing: 5px;
  border: 0px solid transparent;
  background-color: transparent;
  color: rgb(185, 185, 185);
  font-size: larger;
  font-weight: 900;
  text-shadow: 0px 10px 20px black;
  transition: letter-spacing 1s ease, text-shadow 1s ease, text-decoration 2s ease;
}
#block1:hover{
  letter-spacing: 1px;
  text-shadow: 0px 0px 60px rgba(0, 0, 0, 0.836);
  text-decoration: 3px underline rgb(212, 212, 212);
}
.block2{
    display: flex;
  justify-content: center;
  align-items: center;
}
#block2{
  background-image: url('https://wallpapers.com/images/hd/neon-wave-on-black-color-background-kkyse5p0nvmvfnek.jpg');
  background-size: cover;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  height: 130px;
  text-decoration: gray;
  width: 35%;
  border-radius: 60px;
  margin-bottom: 100px;
  border: 0px solid transparent;
  letter-spacing: normal;
  font-size: larger;
  transition: all 1s;
  -webkit-text-stroke: 4px #d6f4f486;
  font-variation-settings: "wght" 400, "ital" 1;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,
    20px 20px 0px #e9019a,
    25px 25px 0px #f40468,
    45px 45px 10px #482896;
  color: transparent;
}
#block2:hover{
  letter-spacing: 2px;
  -webkit-text-stroke: 4px #d6f4f4e7;
  font-variation-settings: "wght" 200, "ital" 0;
  text-shadow: none;
}
.center{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
    }
    #botn{
      border: none;
      user-select: none;
      margin-bottom: 35px;
      color: rgb(185, 184, 184);
      font-weight: 600;
      font-size: large;
      display: block;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.836);
      transition: all 1s ease-in-out;
      background-color: transparent;
    }
    #botn:hover{
      color: white;
      text-shadow: 0px 0px 5px rgba(190, 190, 190, 0.618);
    }
@media (max-width: 768px) {
  *{
    font-size: 14px;
  }
  .logo {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    animation: typing 0.7s steps(18, end) forwards, blinking 1s infinite;
  }
  @keyframes typing {
    from{ width: 0;}
    to{ width: 87px;}
  }
  .block{
      display: flex;
  justify-content: none;
  align-items: none;
  }
  #block{
    display: block;
    font-size: small;
    font-weight: 500;
    margin-bottom: 40px;
    text-shadow:  0px 5px 5px black;
    height: 55px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  #block:hover{
    font-size: 14px;
    text-shadow: 0px 15px 10px black;
  }
  #block1{
    display: block ;
    font-size: small;
    letter-spacing: 2px;
    margin-bottom: 40px;
    height: 55px;
    width: 45%;
    font-weight: 900;
    text-shadow: 0px 5px 15px black;
    margin-left: auto;
    margin-right: auto;
  }
  #block1:hover{
    text-decoration: 2px underline rgb(212, 212, 212);
    text-shadow: 0px 5px 50px rgba(0, 0, 0, 0.836);
  }
  #block2{
    display: block;
    font-size: small;
    margin-bottom: 40px;
    height: 55px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 5px 5px 0px #07bccc,
    5px 5px 0px #e601c0,
    10px 10px 0px #e9019a,
    15px 15px 0px #f40468,
    25px 25px 10px #482896;
  }
  #botn{
    font-size: small;
    display: block;
    margin: auto;
  }
    }
